<i class="material-icons favorites-page-btn" ng-click="$ctrl.goFavorites();">favorite</i>
  <header>
    <h1><span class="subtitle-span1">Recip</span><span class="subtitle-span2">ease</span></h1>
    <p class="sub-title">Search Recipes With Ease</p>
  </header>  
 <section class="search-center-container">
  <section class="search-container">
    <input class="search-bar" type="text" placeholder="Feeling Hungry?" ng-model="$ctrl.recipe">
    <img class="carrot-arrow" src="/public/app/resources/images/carrot-arrow.png" ng-click="$ctrl.search($ctrl.recipe, $ctrl.healthy, $ctrl.restrictions);"/>
    <section ng-show="$ctrl.buttonShown" class="advanced-search">
      <p ng-click="$ctrl.onShow();" class="Sous-Chef">Sous-Chef Search</p>
    </section>
    <section ng-show="$ctrl.searchShown" class="hidden-advanced-search">
     <section class="diet-filter">
      <label>By Diet</label>
       <select ng-model="$ctrl.healthy">
        <option>low-carb</option>
        <option>low-fat</option>
        <option>high-protein</option>
       </select>
     </section>
     <section class="restrictions-filter">
      <label>Restrictions</label>
       <select ng-model="$ctrl.restrictions">
        <option>peanut-free</option>
        <option>alcohol-free</option>
        <option>vegan</option>
        <option>vegetarian</option>
       </select>
     </section>
     <i ng-click="$ctrl.onShow();" id="hidden-search-exit" class="fa fa-times"></i> 
    </section>
    <!-- <recipe-list list-of-ingredients="$ctrl.listOfIngredients" list-of-items="$ctrl.listOfItems"></recipe-list> -->
  </section> 
 </section>